.header {
    text-transform: uppercase;
    font-weight: bold;
}

.table thead tr th {
    vertical-align: middle !important;
    text-align: center !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

label, .btn {
    font-weight: bold !important;
}