<div class="row">
    <div class="col-sm-12">
        <p class="header"><strong>Trainings</strong></p>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-sm-12 pb-10">
        <a href="#" onclick="route('trainings/create');" class="btn btn-success">Add New Training</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-sm table-bordered" id="table-list">
        <thead>
            <tr>
                <th scope="col">id#</th>
                <th scope="col">Training Name</th>
                
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-striped"></tbody>
    </table>
</div>

<!-- script goes here -->
<script>
    $(function () {
        // get data from server and populate in jQuery DataTable plugin
        $('#table-list').DataTable({
            "ajax": apiServer + "trainings",
            "columns": [
                { "data": "id" },
                { "data": "trainingname" },
                //{ "data": "desc" },
                //{ "data": "trainer" },
                {
                    "render": function (data, type, row, meta) {
                        var edit = "<a href='#' onclick='route(\"trainings/update\", " + row.id + ")'><i class='fa fa-edit'></i></a> ";
                        var remove = "<a href='#' onclick='deleteItem(" + row.id + ");'><i class='fa fa-trash'></i></a>";
                        return edit + remove;
                    }
                }
            ],
            "scrollX": true
        });
    });

    // function to delete item
    function deleteItem(itemId) {
        if (!confirm('Are you sure you want to delete this item?')) {
            e.preventDefault();
        }
        else {
            // send data to server and get response
            $.ajax({
                url: apiServer + "trainings/" + itemId,
                type: "delete",
                dataType: "json",
                success: function (result) { // return code 200 (success)
                    // redirect user to list
                    storage.setItem("activePage", "trainings/list");
                    location.href = "content.html";
                },
                error: function (result, ajaxOptions, thrownError) { // return code 422 (error)
                    alert("An error has occurred. Please try again.");
                }
            });
        }
    }
</script>
