<!-- menu app name -->
<div class="sidebar-heading app_name" style="font-weight: bold;">My Application</div>

<!-- menu list -->
<div class="list-group list-group-flush">
    <a href="#" onclick="route('dashboard');" class="list-group-item list-group-item-action bg-light"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
    <a href="#" onclick="route('trainings/list');" class="list-group-item list-group-item-action bg-light"><i class="fas fa-drafting-compass"></i> Trainings</a>
    <a href="#" onclick="route('profile');" class="list-group-item list-group-item-action bg-light"><i class="fas fa-user"></i> Profile</a>
    <a href="logout.html" class="list-group-item list-group-item-action bg-light"><i class="fas fa-sign-out-alt"></i> Logout</a>
</div>